services:
  miner:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - .:/app
      - ../gharchive:/gharchive:ro
      - ../bot_data:/bot_data:ro
    environment:
      - PYTHONUNBUFFERED=1
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"